    
#map {
    height: 500px;
    width: 100%;
    box-shadow: 0 0 10px rgba(33,33,33,.2);
    border-radius: 8px;
    margin-block-start: .75rem;
    margin-block-end: .75rem;             
  }  

#moreInfo{
    border-radius: 8px;
    box-shadow: 0 0 0px rgba(33,33,33,.2);
    line-height: 1.35;
    background-color: #118aec;
    color: #fff;
} 

.modal {
    transform: translate(12%, 15%);
    top: 15px;
    left: 0;
    width: 80% !important;
    height: 80% !important;
    overflow: auto !important;
    position: fixed;
    display: none;
    flex-direction: column;
    background: white;
    border-radius: 8px;
    z-index: 6;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

.loan-row {
    display: grid;
    padding-inline-start: 3rem;
    padding-top: 1rem;
    padding-bottom: 10px;
    grid-template-columns: auto 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: 600; 
    line-height: 2;
}    

#borrower-img{
   
    border-radius: 8px;   
}   

#borrower-name{
    font-size: 1.75rem;
    font-weight: 525;
    line-height: 1.6875rem;
    color: #118aec;
    }
#borrower-activity {
    font-size: 1.10rem;
    font-weight: 400;
    line-height: 1.1875rem;
    color: #9d9c9e;   
}

#borrower-amount {
    font-size: 1.10rem;
    font-weight: 400;
    line-height: 1.1875rem;
    color: #9d9c9e;   
}

#borrower-country {
    font-size: 1.10rem;
    font-weight: 400;
    line-height: 1.1875rem;
    color: #9d9c9e;   
}
#borrower-desc{
     display: block;
        margin-block-start: 1rem;
        margin-block-end: 1rem;
        margin-inline-start: 0px;
        margin-inline-end: 4rem;
} 
html, body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media only screen and (min-width: 681px)
{.top-nav .logo-area .header-button {
    padding: 0 1rem 
    0.1875rem;
}
.top-nav .logo-area .header-button {
    line-height: 0;
    padding: 0 0.3rem
            0.187rem;
}
.top-nav .header-column>a {
    border-right: 0.0625rem
    solid #49953f;
}
.header-button:link, .header-button:visited, .header-button:hover, .header-button:active {
    color: rgb(253, 253, 241);
    text-decoration: none;
}

@media only screen and (min-width: 681px) {

.header-button::after {
    padding: 0 1rem;
    line-height: 4rem;
}

.navbar{
    background-color: #4faf4e;
    padding-bottom: 2px;
}
.header-button {
    display: block;
    padding: 0;
    line-height: 2.8125rem;
    background-color: #4faf4e;
    white-space: nowrap;
    text-align: center;
}
.header-button {
    background-color: #4faf4e;
    padding-bottom: 2px;
    padding-inline-start: 10px;   
}

#lend-here{
    margin-inline-start: 1rem;
    margin-block-start: 1rem;
    margin-block-end: 1rem;     
}

.button.expanded {
    width: 100%;
}
.button.expanded {
    border-radius: 0.625rem;
}

body {
    background: #fff;
    color: #484848;
    cursor: auto;
    font-family: Arial,Helvetica,sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 133.33%;
    margin: 0rem;
    position: relative;
}

html, body {
    font-size: 16px;

}

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.borrower-image-wrapper.offset-borrower-image 
.borrower-image[data-v-524d879b] {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
.borrower-image-wrapper.absolute-positioned 
.borrower-image[data-v-524d879b], 
.borrower-image-wrapper.full-width-borrower-image 
.borrower-image[data-v-524d879b], 
.borrower-image-wrapper.offset-borrower-image 
.borrower-image[data-v-524d879b] {
    position: absolute;
}
a img, hr {
    border: 0;
}
img {
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    height: auto;
    max-width: 100%;
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
    vertical-align: middle;
}
img {
    border-style: none;
}
*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

a:focus, a:hover {
    color: #006ed3;
    text-decoration: underline;
}

a {
    color: #118aec;
    cursor: pointer;
    line-height: inherit;
    text-decoration: none;
}

/* body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
    color: #484848;
    font-family: PostGrotesk,Arial,Helvetica,sans-serif;
    font-weight: 300;
    line-height: 1.75;
    margin: 1;
    padding: 0;
} */

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 100%;
}
html {
    -webkit-text-size-adjust: 100%;
    line-height: 1.15;
}
*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
